<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free restaurant catalogue for you">
    <meta name="theme-color" content="#ff8303" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Karma:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Savory Restaurant Catalogue</title>
</head>
<body>
  <a href="#restaurants" class="skip-link">Skip to content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton" aria-label="navigation-menu">&#9776;</button>
    </div>
    <div class="app-bar__brand">
      <h1>Savory App</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/list">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://github.com/eryzha" target="_blank" rel="noreferrer">About</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent"></main>
  <footer>
    <p>Copyright &copy; 2021 - Savory Apps</p>
  </footer>
</body>
</html>